
<div class="principal">
  <form (submit)="agregarTournament()">
    <div>
      <span>Ingrese el nombre del torneo: </span>
      <input type="text" name="Nombre" placeholder="Titulo" [(ngModel)]="tournament.nombreTour">
    </div>
    <div>
      <span>Ingrese el premio: </span>
      <input type="number" name="Premio" placeholder="Año de Lanzamiento" [(ngModel)]="tournament.premio" >
    </div>
    <div>
      <span>Ingrese la localidad: </span>
      <input type="text" name="Localidad" placeholder="Genero" [(ngModel)]="tournament.localidad">
    </div>
    <div>
      <span>Ingrese la fecha de inicio: </span>
      <input type="number" name="Fecha Inicio" placeholder="Calificacion" [(ngModel)]="tournament.fecha">
    </div>
    <div>
      <span>Ingrese la fecha de final: </span>
      <input type="number" name="Fecha Fin" placeholder="Calificacion" [(ngModel)]="tournament.fechaFin">
    </div>

    <button type="submit">Guardar</button>
  </form>
  <!--  <form (submit)="updateGame(game.)">-->
  <!--    <button>-->
  <!--      mostrar-->
  <!--    </button>-->
  <!--  </form>-->
</div>
