<div class="principal">
  <form (submit)="agregarGame()">
    <div>
      <span>Ingrese el titulo del juego: </span>
      <input type="text" name="titulo" placeholder="Titulo" [(ngModel)]="game.titulo">
    </div>
    <div>
      <span>Ingrese el año de lanzamiento: </span>
      <input type="number" name="lanzamiento" placeholder="Año de Lanzamiento" [(ngModel)]="game.lanzamiento" >
    </div>
    <div>
      <span>Ingrese el genero del juego: </span>
      <input type="text" name="genero" placeholder="Genero" [(ngModel)]="game.genero">
    </div>
    <div>
      <span>Ingrese la calificacion del juego: </span>
      <input type="number" name="calificacion" placeholder="Calificacion" [(ngModel)]="game.calificacion">
    </div>
      <button>Guardar</button>
  </form>
<!--  <form (submit)="updateGame(game.)">-->
<!--    <button>-->
<!--      mostrar-->
<!--    </button>-->
<!--  </form>-->
</div>
