
<div class="principal">
  <form (submit)="agregarPlayer()">
    <div>
      <span>Ingrese el nombre del jugador: </span>
      <input type="text" name="titulo" placeholder="Nombre" [(ngModel)]="player.nombre">
    </div>
    <div>
      <span>Ingrese la edad del jugador: </span>
      <input type="number" name="lanzamiento" placeholder="Edad" [(ngModel)]="player.edad">
    </div>
    <div>
      <span>Ingrese el sueldo del jugador: </span>
      <input type="number" name="genero" placeholder="Sueldo" [(ngModel)]="player.sueldo">
    </div>
    <div>
      <span>Ingrese el juego del jugador: </span>
      <input type="number" name="game" placeholder="Juego" [(ngModel)]="player.game">
<!--      <select>-->
<!--        <option *ngFor="let game of games" value="{{game.titulo}}"  [(ngModel)]="player.game" [ngModelOptions]="{standalone: true}">{{game.titulo}}</option>-->
<!--      </select>-->
    </div>
    <button>Guardar</button>
  </form>
</div>
